body {
    margin-top:40px; 
    background-color: blueviolet; 
    background-repeat: no-repeat; 
    background-size: 100%; 
    font-family: cursive; 
    font-size: 18px; 
    color: white;
}
form {
    margin: auto auto;
}
fieldset{
    width: 640px; 
    position: relative;  
    margin-bottom: 18px; 
    margin-top:18px; 
    border-radius: 10px;
    border-color: red; 
    margin: auto; 
    background-color: purple;
}
label{
    width: 100%;
}
select {
    width: 100%;
}
table {
    width: auto; 
    margin: auto; 
 
    position: relative; 

}
legend{
    font-size: 18px
}
img{
    position: relative; 
    margin:  18px 20% 18px;
    width: 60%;
}