.btn {
    display: inline-block; 
    background: lightgrey; 
    color: black;
    padding: 0.5rem 1.5rem;
    margin: 16px;
    text-decoration: none;
    border-radius: 3px; 
    border: 2px, black;
   }