<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Edt Product</title>
    </head>
    <body>
        <h3>Edit Product</h3>
        <form method="POST">
            <input type="hidden" name="id" value="{{.Id}}" />
            <label>Фамилия</label><br>
            <input type="text" name="familyname" value="{{.Familyname}}" /><br><br>
            <label>Имя</label><br>
            <input type="text" name="givenname" value="{{.Givenname}}" /><br><br>
            <label> </label>Национальность<br>
            <input type="text" name="nation" value="{{.Nation}}" /><br><br>
            <label>Число</label><br>
            <input type="number" name="number" value="{{.Number}}" /><br><br>
            <label>Гонорар</label><br>
            <input type="number" step="0.0001" name="honorar" value="{{.Honorar}}" /><br><br>
            <table>
                <tr><button type="submit">Отправить</button></tr>
                <tr><input type="button" onclick="location.href='/';" value="Вернуться" /></tr>
            </table>
        </form>
    </body>
</html>